.need-field {
    color: red;
}

.optional-field {
    color: #86c77f;
}



input{
    border: 1px solid black;
}
input:focus:required:invalid {
    border: 1px solid red;
}

input:focus:required:valid { 
    border: 1px solid green;
}
